*{
  box-sizing: border-box;
  padding:10px;
  margin:0;
}
body{
  background-color: white;
  padding:0;
  margin: 0;
  color:#151515;
  font-family: Helvetica, sans-serif;
}

/*header css*/
#header{
  width:25%;
  background-color:#000D17;
  float:left;
}

#header .nav{
  text-align:center;
}
#header .nav ul{
  list-style-type: none;
}
#header .nav ul li{

}
#header .nav ul li a{
  display:inline-block;
  height: 42px;
  color:#cccccc;
  text-decoration: none;
}
/*end of header css*/

/*footer css*/
#footer{
  width:100%;
  height: 90px;
  background: #151515;
  clear: both;
}
/*end footer css*/

/*post css*/
.post{
  width:74%;
  margin:0 auto;
}
.post-header{
  color:#151515;
  text-align:center;
}
.post-meta{
  color:#cccccc;
  font-size: 12px;
  text-align:left;
}
.post-content{
  font-size: 21px;
  text-align:center;
}
.post a {
    color: #4078c0;
    text-decoration: none;
}
/*end of post css*/

/*page content css*/
.page-content{
  width: 75%;
  margin:0 auto;
  float:left;
}
.page{

}
.page .page-header{
  border-bottom: 4px solid #151515;
}
.page .page-header .page-title{
  text-align:center;
}
.page .page-content{
  font-family: Helvetica, sans-serif;
  font-size:1.25em;
  width:100%;
}
.page a{
  text-decoration: none;
}
.page img{
  display: block;
  width:60%;
  margin:0 auto;
}
/*end page content css*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*end of Underline from center*/
.x{
  color:#151515;
}
.x:hover{
  color:#2098d1;
}
