*{
  box-sizing: border-box;
  margin:0;
}
body{
  background-color: white;
  padding:0;
  margin: 0;
  color:#151515;
  font-family: Helvetica, sans-serif;
  font-smoothing: antialised;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Droid Sans', Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px;
}
a{
  color: #4078c0;
  padding:0;
}
strong{
  padding:0;
}
p{
  font-family: 'Droid Sans', Helvetica, sans-serif;
  padding: 6px;
}
hr{
  padding:0;

}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
iframe{
  padding:0;
}
#wrapper{

}
/*header css*/
#header{
  width:100%;
  font-weight: bold;
  /*float: left;*/
}

#header .nav{
  text-align:center;
  background-color:#1c1c1c;
  width: 100%;
  vertical-align: top;
  padding: 14px;
}
#header .nav ul{
  list-style-type: none;
}
#header .nav ul li{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  padding: 10px;
}
#header .nav ul li a{
  display:inline-block;
  height: 42px;
  color:white;
  text-decoration: none;
  font-size: 18px;
}
#header .nav ul li a:hover{

}
#ad{
  width:60%;
  height: auto;
  overflow: hidden;
  margin:0 auto;
  padding: 0;
}
.addsbygoogle{

}

/*end of header css*/

/*footer css*/
#footer{
  width:100%;
  padding:20px;
  background: #151515;
  clear: both;
}

#footer-pages{
  width:100%;
  text-align: center;
}
#footer-pages ul{
  padding:0;
  display:inline-block;
}
#footer-pages ul li{
  display: inline;
}
#footer-pages a{
  text-decoration:none;
  font-size: 0.75em;
}
#footer-pages a:hover{
  color:white;
}

#social-footer-icons{
  text-align:center;
}
#social-footer-icons a{

}
#social-footer-icons a:hover{
  color:white;
}
.twitter{
  font-size:30px;
}
/*end footer css*/

/*post css*/
.post{
  width:74%;
  padding:0;
  margin:0 auto;
}
.post-header{
  color:#151515;
  padding: 9px;
  text-align:center;
}
.post-meta{
  color:#777;
  font-size: 14px;
  text-align:left;
  margin-left: 5px;
}
.post-content{
  font-size: 21px;
  text-align:left;
}
.post-list{
  padding: 9px;
  text-align: left;
}
.post a {
    color: #4078c0;
    text-decoration: none;
}
.post img{
  max-width:100%;
  height: auto;
}
/*end of post css*/

/*page content css*/
.page-content{
  width: 75%;
  padding: 6px;
  margin:0 auto;
  /*float:left;*/
}
.page{

}
.page .page-header{
  border-bottom: 4px solid #151515;
  padding: 8px;
}
.page .page-header .page-title{
  text-align:center;
}
.page .page-content{
  font-family: Helvetica, sans-serif;
  font-size:1.25em;
  width:100%;
  text-align:center;
}
.page a{
  text-decoration: none;
}
.page img{
  display: block;
  width:70%;
  margin:0 auto;
}
/*end page content css*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*end of Underline from center*/

/*start*/
.x{
  color:#151515;
}
.x:hover{
  color:#2098d1;
}

/*end*/

/*Start share buttons*/
.twitter-share-button{
  padding:0;
  display:block;
  margin-top:320px;
}
.fb-share-button{
  top:0;
  padding:0;
  left: -5px;
  display: block;
}
.fb_iframe_widget{
  padding:0;
  position:absolute;
}
#facebook{
  padding:0;
}
#fb-root{
  padding:0;
}
#share-wrapper{
  text-align:right;
  position: fixed;
  top: 0;
  right: 0;
  padding:0;
}
/*End share buttons*/

/*Start 404*/
.page-not-found{
  text-align:center;
  padding: 250px 0px;
  color:orange;
}
/*End 404*/

/*Start Media Query for mobile users 640px*/
@media (max-width: 640px) {
  body{

  }
  .page{
    height: auto;
  }
  .page img{
    width: 100%;
  }
  #header{
    float: none;
    width:100%;
  }
  #header .nav {
    width:100%
  }
  #header ul li{
    display: inline;
  }
  .page-content{
    float: none;
    width: 99%;
  }
  .post{
    width: 100%;
  }
  #wrapper{
    width:100%;
    padding:0;
  }
  #ad{
    padding:0;
    width: 100%;
  }
  #share-wrapper{
    position: relative;
    padding-bottom: 40px;
    margin:0 auto;
  }
  .twitter-share-button{
    float:right;
    margin: 0 auto;
  }
  .fb-share-button{
    float: right;
    margin-right: 9px;
  }
  .twitter-share-button{

  }

  /*Start 404*/
  .page-not-found{
    padding: 136px 0px;
  }
  /*End 404*/
}
/*End media query 640px*/
