*{
  box-sizing: border-box;
  margin:0;
}
main, section, article,
header, footer, aside, 
nav, figure {
  display: block;
}
html{
    font-size: 100%;
}
body{
  background-color: white;
  padding:0;
  margin: 0;
  color:#151515;
  /*font-family: Helvetica, sans-serif;*/
  font-smoothing: antialiased;
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px;
  color: #333;
}
h1 {
}
blockquote{
    padding: 0 15px;
    color : #777;
    border-left: 4px solid #ddd;
    font-size: 16px;
}
strong {
    font-family: "source sans pro" Helvetica, sans-serif;
    font-size: 1em;
}

ul li {
    font-size: 1.em;
    color: #333;
}
a{
  color: #4078c0;
  padding:0;
}
a:hover{
  color:#1E1F2B;
}
strong{
  padding:0;
}
p{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 6px;
  line-height: 150%;
  font-size: 1em;
  margin-bottom: 1.4rem;
  color: #333;
}
hr{
  padding:0;

}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
iframe{
  padding:0;
}
#wrapper{
}

/*header css*/
#indexwelcome{
    /*font-size: 1.5em;*/
    background-color: #d6d6d6;
    background-color: #E0E0E0;
    padding: 28px;
}
#indexwelcomelist {
    text-align: center;
}
.home-introduction {
    font-size: 1.563em;
    text-align: center;
}
.home-button {
    background: red;
    border: none;
    width: 160px;
    border: 4px solid black;
    background: white;
    height: 55px;
    margin: 0 auto;
}
.home-button a{
    line-height: 48px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#ad{
  width:60%;
  height: auto;
  overflow: hidden;
  margin:0 auto;
  padding: 0;
}
.addsbygoogle{

}

/*end of header css*/

/*flex-header*/
.flex-header-container{
  display: flex;
  flex-wrap: wrap;
  background: #333;
  background: #e0e0e0;
  border-bottom: 2px solid #4DBCE9;
  border-bottom: 1px solid #333;
}
.flex-header-item{
  min-width: 80px;
  flex-grow: 1;
}
.flex-header-item .logo{
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #4DBCE9;
  height: 55px;
  margin-top: 5px;
}
.one{
  flex-shrink: 100%;
}
.two{
  flex-shrink: 1;
}
.three{
  flex-shrink: 1;
}
.four{
  flex-shrink: 1;
}
.five{
  flex-shrink: 1;
}
.flex-header-item h1{
  font-size: 1.2em;
}
.flex-header-item a{
  color: white;
  text-decoration: none;
  color: #333;
}
.flex-header-item a:hover{
  color: #4DBCE9;
  color: #4078c0;
}
.selected-item{
  padding: 10px;
  color: #4DBCE9;
  background: white;
}

/*end-flex-header*/

/*footer css*/
#footer{
  width:100%;
  padding:40px;
  background-color: #151515;
  background-color: #2b2636;
  background: #333;
  clear: both;
}
#social-footer-icons {
	text-align:center;
	font-size: 33px;
}
#social-footer-icons a {
    color: white; 
}
#social-footer-icons a:hover{
	color:#4DBCE9;
}
#footer-pages{
  width:100%;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
#footer-pages ul{
  padding:0;
  display:inline-block;
}
#footer-pages ul li{
  display: inline;
}
#footer-pages a{
  text-decoration:none;
  font-size: 0.89em;
  color:white;
}
#footer-pages a:hover{
  color: #4DBCE9;
}

/*end footer css*/

/*post css*/
.post{
  width:74%;
  padding:0;
  margin:0 auto;
}
.post-header{
  color:#151515;
  padding: 9px;
  text-align:center;
}
.post-meta{
  color:#777;
  font-size: 14px;
  text-align:left;
  padding:0;
  padding: 6px 0px;
}
.post-content{
  font-size: 1.375em;
  text-align:left;
}
.post-content ul li {
  font-family: "Source-sans-pro", sans-serif;
  font-size: 1em;
}
.post-content ul li a {
  font-family: "Oswald", sans-serif;
}
.posts{
  width:74%;
  margin: 23px auto;
  padding: 4px;
}
.posts p {
  padding:0;
  margin:0;
  color:#424242;
}
.posts-list{
  text-align: left;
  font-size: 1em;
}
.posts-list p {
  margin: 0;
  padding: 0;
}
.posts-list-excerpt{
  font-size: 0.875em; 
  margin:0;
  color: #cccccc;
  text-align: left;
}
.posts-list-excerpt p{
  margin: 0;
  padding: 0;
}
.posts-list-excerpt > h3,h4,h5,h6 {
    display: none;
    height: 0;
}
.posts-list-excerpt > p > img{
    display:none;
    height: 0
}
.post a {
    color: #4078c0;
    color: #1accd7;
    text-decoration: none;
}
.post-title {
    font-size: 2.3em;
}
.post img{
  max-width:100%;
  height: auto;
  border: 1px solid #ddd;
}
.post-latest{
    list-style-type: none;
    background: #2B2636;
    background: #333;
    text-align:center;
}
.post-latest li{
  list-style-type: none;
  padding: 15px 18px;
  font-size: 1.313em;
  font-family: "Oswald";
}
.post-latest li a{
  color: #4DBCE9;
  color: #4078c0;
}
.post-latest li a:hover{
	color:white;
}
/*end of post css*/

/*page content css*/
.page-content{
  width: 75%;
  padding: 6px;
  margin:0 auto;
  /*float:left;*/
}
.page-content > h1,h2,h3,h4,h5,h6 {
    display:block;
    height: auto;
}
.page-content p{
  text-align:left;
}
.page-content img{
}
.page{

}
.page .page-header{
  border-bottom: 4px solid #151515;
  padding: 8px;
}
.page .page-header .page-title{
  text-align:center;
}
.page .page-content{
  font-family: Helvetica, sans-serif;
  font-size:1.25em;
  width:100%;
  text-align:center;
}
.page a{
  text-decoration: none;
}
.page img{
  display: block;
  width:70%;
  margin:0 auto;
}
#recent-posts{
  padding-top: 85px;
}
/*end page content css*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #36cefb;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*end of Underline from center*/

/*start*/
.x{
  color:#151515;
}
.x:hover{
  color:#2098d1;
}

/*end*/

/*Start 404*/
.page-not-found{
  text-align:center;
  padding: 250px 0px;
  color:orange;
}
/*End 404*/

/*Start Media Query for mobile users 640px*/
@media (max-width: 640px) {
  body{
  }
  .page-content{
      width: 100%;
      padding:0;
  }
  .page{
    height: auto;
  }
  .page img{
    width: 100%;
  }
  #header{
    float: none;
    width:100%;
  }
  #header .nav {
    width:100%;
    padding: 0;
  }
  #header .nav ul{
    padding: 0;
  }
  #header .nav ul li{
    display: inline;
  }

  .page-content{
    float: none;
    width: 99%;
  }
  #recent-posts{
    padding-top: 50px;
  }
  .post{
    width: 100%;
  }
  .post-latest{
    text-align:left;
    padding: 0;
  }
  .post-latest li{
      padding: 18px 5px;
  }
  #wrapper{
    width:100%;
    padding:0;
  }
  #ad{
    padding:0;
    width: 100%;
  }
  #share-wrapper{
    position: relative;
    padding-bottom: 40px;
    margin:0 auto;
  }
  .twitter-share-button{
    float:right;
    margin: 0 auto;
  }
  .fb-share-button{
    float: right;
    margin-right: 9px;
  }
  .twitter-share-button{

  }
  .posts{
    width: 88%;
  }
  /*Start 404*/
  .page-not-found{
    padding: 136px 0px;
  }
  /*End 404*/
  #footer{
    margin-top: 5px;
  }
}
@media(max-width: 550px) {
    body {
    }
    .one{
        width: 100%;
        font-size: .9em;
        background: white;
    }
    #header {
        height: auto;
    } 
    #header .nav .logo {
        width: 100%;
        display: block;
    }
    #header .nav .logo p {
        line-height: 40px;
    }
    #header .nav ul {
        width: 100%;
        font-size: 13px;
        display: block;
        line-height: 40px;
        text-align: center;
    }
    #header .nav ul li {
        padding: 5px;
    }
}
@media (max-width: 349px) {
  body{
  }
  #header{
  }
  .two, .three, .four, .five {
      min-width: 45px;
      font-size: .9em;
  }
  #header .nav{
  	padding:0;
  }
  #header .nav ul{
      text-align:center;
  }
  #header .nav ul li{
  }
}
/*End media query 640px*/

/*BEGIN syntax.css*/
.highlighter-rouge {border: 3px solid #424242; margin-bottom: 1.4rem;}
.highlight  { background: #fffff; padding:0; margin:0; word-spacing: 0%;}
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .err { color: black; background-color:none } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .sr { color: black } /* Literal.String.Regex Fix React tutorial*/
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
/* Add to css/syntax.css */
.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
code{
  margin:0;
}
code span{
  padding:0;
}
.highlight{
  padding: 8px;
  font-size: 0.688em; 
  overflow-x:auto;
  overflow-y: hidden;
  background-color: #f7f7f7;
  border:1px solid #e7e7e7;
}
/*End syntax.css*/

/*Normalize.csNormalize.csss*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

  /**
   *  * 1. Change the default font family in all browsers (opinionated).
   *   * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
   *    */

    html {
            -ms-text-size-adjust: 100%; /* 2 */
              -webkit-text-size-adjust: 100%; /* 2 */
          }

          /**
           *  * Remove the margin in all browsers (opinionated).
           *   */

    body {
          margin: 0;
      }

      /* HTML5 display definitions
       *    ========================================================================== */

    /**
     *  * Add the correct display in IE 9-.
     *   * 1. Add the correct display in Edge, IE, and Firefox.
     *    * 2. Add the correct display in IE.
     *     */

    article,
    aside,
    details, /* 1 */
    figcaption,
    figure,
    footer,
    header,
    main, /* 2 */
    menu,
    nav,
    section,
    summary { /* 1 */
          display: block;
      }

      /**
       *  * Add the correct display in IE 9-.
       *   */

    audio,
    canvas,
    progress,
    video {
          display: inline-block;
      }

      /**
       *  * Add the correct display in iOS 4-7.
       *   */

    audio:not([controls]) {
          display: none;
            height: 0;
        }

        /**
         *  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
         *   */

    progress {
          vertical-align: baseline;
      }

      /**
       *  * Add the correct display in IE 10-.
       *   * 1. Add the correct display in IE.
       *    */

    template, /* 1 */
    [hidden] {
          display: none;
      }

      /* Links
       *    ========================================================================== */

    /**
     *  * 1. Remove the gray background on active links in IE 10.
     *   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     *    */

    a {
          background-color: transparent; /* 1 */
            -webkit-text-decoration-skip: objects; /* 2 */
        }

        /**
         *  * Remove the outline on focused links when they are also active or hovered
         *   * in all browsers (opinionated).
         *    */

    a:active,
    a:hover {
          outline-width: 0;
      }

      /* Text-level semantics
       *    ========================================================================== */

    /**
     *  * 1. Remove the bottom border in Firefox 39-.
     *   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     *    */

    abbr[title] {
          border-bottom: none; /* 1 */
            text-decoration: underline; /* 2 */
              text-decoration: underline dotted; /* 2 */
          }

          /**
           *  * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
           *   */

    b,
    strong {
          font-weight: inherit;
      }

      /**
       *  * Add the correct font weight in Chrome, Edge, and Safari.
       *   */

    b,
    strong {
          font-weight: bolder;
      }

      /**
       *  * Add the correct font style in Android 4.3-.
       *   */

    dfn {
          font-style: italic;
      }

      /**
       *  * Correct the font size and margin on `h1` elements within `section` and
       *   * `article` contexts in Chrome, Firefox, and Safari.
       *    */

    h1 {
            margin: 0.67em 0;
        }

        /**
         *  * Add the correct background and color in IE 9-.
         *   */

    mark {
          background-color: #ff0;
            color: #000;
        }

        /**
         *  * Add the correct font size in all browsers.
         *   */

    small {
          font-size: 80%;
      }

      /**
       *  * Prevent `sub` and `sup` elements from affecting the line height in
       *   * all browsers.
       *    */

    sub,
    sup {
          font-size: 75%;
            line-height: 0;
              position: relative;
                vertical-align: baseline;
            }

            sub {
                  bottom: -0.25em;
              }

              sup {
                    top: -0.5em;
                }

                /* Embedded content
                 *    ========================================================================== */

    /**
     *  * Remove the border on images inside links in IE 10-.
     *   */

    img {
          border-style: none;
      }

      /**
       *  * Hide the overflow in IE.
       *   */

    svg:not(:root) {
          overflow: hidden;
      }

      /* Grouping content
       *    ========================================================================== */

    /**
     *  * 1. Correct the inheritance and scaling of font size in all browsers.
     *   * 2. Correct the odd `em` font sizing in all browsers.
     *    */

    code,
    kbd,
    pre,
    samp {
          font-family: monospace, monospace; /* 1 */
            font-size: 1em; /* 2 */
        }

        /**
         *  * Add the correct margin in IE 8.
         *   */

    figure {
          margin: 1em 40px;
      }

      /**
       *  * 1. Add the correct box sizing in Firefox.
       *   * 2. Show the overflow in Edge and IE.
       *    */

    hr {
          box-sizing: content-box; /* 1 */
            height: 0; /* 1 */
              overflow: visible; /* 2 */
          }

          /* Forms
           *    ========================================================================== */

    /**
     *  * 1. Change font properties to `inherit` in all browsers (opinionated).
     *   * 2. Remove the margin in Firefox and Safari.
     *    */

    button,
    input,
    select,
    textarea {
          font: inherit; /* 1 */
            margin: 0; /* 2 */
        }

        /**
         *  * Restore the font weight unset by the previous rule.
         *   */

    optgroup {
          font-weight: bold;
      }

      /**
       *  * Show the overflow in IE.
       *   * 1. Show the overflow in Edge.
       *    */

    button,
    input { /* 1 */
          overflow: visible;
      }

      /**
       *  * Remove the inheritance of text transform in Edge, Firefox, and IE.
       *   * 1. Remove the inheritance of text transform in Firefox.
       *    */

    button,
    select { /* 1 */
          text-transform: none;
      }

      /**
       *  * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       *   *    controls in Android 4.
       *    * 2. Correct the inability to style clickable types in iOS and Safari.
       *     */

    button,
    html [type="button"], /* 1 */
left    [type="reset"],
    [type="submit"] {
          -webkit-appearance: button; /* 2 */
      }

      /**
       *  * Remove the inner border and padding in Firefox.
       *   */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
          border-style: none;
            padding: 0;
        }

        /**
         *  * Restore the focus styles unset by the previous rule.
         *   */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
          outline: 1px dotted ButtonText;
      }

      /**
       *  * Change the border, margin, and padding in all browsers (opinionated).
       *   */

    fieldset {
          border: 1px solid #c0c0c0;
            margin: 0 2px;
              padding: 0.35em 0.625em 0.75em;
          }

          /**
           *  * 1. Correct the text wrapping in Edge and IE.
           *   * 2. Correct the color inheritance from `fieldset` elements in IE.
           *    * 3. Remove the padding so developers are not caught out when they zero out
           *     *    `fieldset` elements in all browsers.
           *      */

    legend {
          box-sizing: border-box; /* 1 */
            color: inherit; /* 2 */
              display: table; /* 1 */
                max-width: 100%; /* 1 */
                  padding: 0; /* 3 */
                    white-space: normal; /* 1 */
                }

                /**
                 *  * Remove the default vertical scrollbar in IE.
                 *   */

    textarea {
          overflow: auto;
      }

      /**
       *  * 1. Add the correct box sizing in IE 10-.
       *   * 2. Remove the padding in IE 10-.
       *    */

    [type="checkbox"],
    [type="radio"] {
          box-sizing: border-box; /* 1 */
            padding: 0; /* 2 */
        }

        /**
         *  * Correct the cursor style of increment and decrement buttons in Chrome.
         *   */

    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
          height: auto;
      }

      /**
       *  * 1. Correct the odd appearance in Chrome and Safari.
       *   * 2. Correct the outline style in Safari.
       *    */

    [type="search"] {
          -webkit-appearance: textfield; /* 1 */
            outline-offset: -2px; /* 2 */
        }

        /**
         *  * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
         *   */

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
          -webkit-appearance: none;
      }

      /**
       *  * Correct the text style of placeholders in Chrome, Edge, and Safari.
       *   */

    ::-webkit-input-placeholder {
          color: inherit;
            opacity: 0.54;
        }

        /**
         *  * 1. Correct the inability to style clickable types in iOS and Safari.
         *   * 2. Change font properties to `inherit` in Safari.
         *    */

    ::-webkit-file-uploadhare-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons{
	list-style: none;
	padding: 0;
	height: 55px;
}
ul.share-buttons li{
	display: inline;
}

ul.share-buttons li img {
	border:none;
    width: 32px;
}

#html5-wrapper {
    width: 100%;
}

#html5-wrapper header{
    width:100%;
    border: 2px solid black;
    background-color: green;
    box-sizing: border-box;
}
#html5-wrapper header nav {
    width:100%;
    border: 1px solid pink;
    background-color: cyan;
    box-sizing: border-box;
}
#html5-wrapper section {
    width:60%;
    border: 2px solid red;
    background-color: orange;
    float:left;
    box-sizing: border-box;
}
#html5-wrapper aside {
    width: 40%;
    border: 2px solid brown;
    background-color: purple;
    float: left;
    box-sizing: border-box;
}
#html5-wrapper footer {
    width:100%;
    border: 2px solid green;
    background-color:red;
    clear: both;
    box-sizing: border-box;
}

/*Embedded Youtube Videos*/
.videowrapper{
    float: none;
    clear: both;
    width:100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*end Embedded Youtube Videos*/
