*{
  box-sizing: border-box;
  margin:0;
}
body{
  background-color: white;
  padding:0;
  margin: 0;
  color:#151515;
  /*font-family: Helvetica, sans-serif;*/
  font-smoothing: antialised;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px;
}
a{
  color: #4078c0;
  padding:0;
}
a:hover{
  color:#1E1F2B;
}
strong{
  padding:0;
}
p{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 6px;
  line-height: 150%;
}
hr{
  padding:0;

}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
iframe{
  padding:0;
}
#wrapper{

}

/*header css*/
#ribbon{
  width:100%;
  height:6px;
  background-color: #36cefb;
}

#header{
  width:100%;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  /*float: left;*/
}

#header .nav{
  text-align:center;
  background-color:#1c1c1c;
  width: 100%;
  vertical-align: top;
  padding: 14px;
}
#header .nav ul{
  list-style-type: none;
}
#header .nav ul li{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  padding: 10px;
}
#header .nav ul li a{
  display:inline-block;
  height: 42px;
  color:white;
  text-decoration: none;
  font-size: 18px;
}
#header .nav ul li a:hover{

}
#indexwelcome{
    font-size: 1.5em;
}
#ad{
  width:60%;
  height: auto;
  overflow: hidden;
  margin:0 auto;
  padding: 0;
}
.addsbygoogle{

}

/*end of header css*/

/*footer css*/
#footer{
  width:100%;
  padding:20px;
  background: #151515;
  clear: both;
}

#footer-pages{
  width:100%;
  text-align: center;
}
#footer-pages ul{
  padding:0;
  display:inline-block;
}
#footer-pages ul li{
  display: inline;
}
#footer-pages a{
  text-decoration:none;
  font-size: 0.75em;
}
#footer-pages a:hover{
  color:white;
}

#social-footer-icons{
  text-align:center;
}
#social-footer-icons a{

}
#social-footer-icons a:hover{
  color:white;
}
.twitter{
  font-size:30px;
}
/*end footer css*/

/*post css*/
.post{
  width:74%;
  padding:0;
  margin:0 auto;
}
.post-header{
  color:#151515;
  padding: 9px;
  text-align:center;
}
.post-meta{
  color:#777;
  font-size: 14px;
  text-align:left;
  padding:0;
  padding: 6px 0px;
}
.post-content{
  font-size: 21px;
  text-align:left;
}
.post-list{
  padding: 9px;
  text-align: left;
}
.post a {
    color: #4078c0;
    text-decoration: none;
}
.post img{
  max-width:100%;
  height: auto;
  border: 1px solid #ddd;
}
.post-latest{
    list-style-type: none;
    background-color: #272727;
}
.post-latest li{
  list-style-type: none;
  padding: 11px 0px;
  font-size: 21px;
}
.post-latest li a{
    color:white;
}
/*end of post css*/

/*page content css*/
.page-content{
  width: 75%;
  padding: 6px;
  margin:0 auto;
  /*float:left;*/
}
.page{

}
.page .page-header{
  border-bottom: 4px solid #151515;
  padding: 8px;
}
.page .page-header .page-title{
  text-align:center;
}
.page .page-content{
  font-family: Helvetica, sans-serif;
  font-size:1.25em;
  width:100%;
  text-align:center;
}
.page a{
  text-decoration: none;
}
.page img{
  display: block;
  width:70%;
  margin:0 auto;
}
#recent-posts{
  padding-top: 85px;
}
/*end page content css*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #36cefb;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*end of Underline from center*/

/*start*/
.x{
  color:#151515;
}
.x:hover{
  color:#2098d1;
}

/*end*/

/*Start share buttons*/
.twitter-share-button{
  padding:0;
  display:block;
  margin-top:320px;
}
.fb-share-button{
  top:0;
  padding:0;
  left: -5px;
  display: block;
  margin-top: 5px;
}
.fb_iframe_widget{
  padding:0;
  position:absolute;
}
#facebook{
  padding:0;
}
#fb-root{
  padding:0;
}
#share-wrapper{
  text-align:right;
  position: fixed;
  top: 0;
  right: 0;
  padding:0;
}
/*End share buttons*/

/*Start 404*/
.page-not-found{
  text-align:center;
  padding: 250px 0px;
  color:orange;
}
/*End 404*/

/*Start Media Query for mobile users 640px*/
@media (max-width: 640px) {
  body{

  }
  .page-content{
      width: 100%;
      padding:0;
  }
  .page{
    height: auto;
  }
  .page img{
    width: 100%;
  }
  #header{
    float: none;
    width:100%;
  }
  #header .nav {
    width:100%
    padding: 0;
  }
  #header .nav ul{
    padding: 0;
  }
  #header ul li{
    display: inline;
  }

  .page-content{
    float: none;
    width: 99%;
  }
  #recent-posts{
    padding-top: 50px;
  }
  .post{
    width: 100%;
  }
  .post-latest{
    width: 100%;
    text-align:left;
    padding: 0;
  }
  .post-latest li{
      padding: 18px 0px;
  }
  #wrapper{
    width:100%;
    padding:0;
  }
  #ad{
    padding:0;
    width: 100%;
  }
  #share-wrapper{
    position: relative;
    padding-bottom: 40px;
    margin:0 auto;
  }
  .twitter-share-button{
    float:right;
    margin: 0 auto;
  }
  .fb-share-button{
    float: right;
    margin-right: 9px;
  }
  .twitter-share-button{

  }

  /*Start 404*/
  .page-not-found{
    padding: 136px 0px;
  }
  /*End 404*/
}
/*End media query 640px*/

/*BEGIN syntax.css*/
.highlight  { background: #fffff; padding:0; margin:0; word-spacing: -100%;}
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
/* Add to css/syntax.css */
.highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
code{
  margin:0;
}
code span{
  padding:0;
}
.highlight{
  overflow-x:auto;
  overflow-y: hidden;
  background-color: #f7f7f7;
  border:1px solid #e7e7e7;
}
/*End syntax.css*/

/*BEGIN button.css*/
.button {
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #EEE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 30px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  /* line 44, ../scss/partials/_buttons.scss */
  .button:hover, .button:focus, .button:active, .button.is-active, .button.active {
    text-decoration: none; }
  /* line 48, ../scss/partials/_buttons.scss */
  .button:hover, .button:focus {
    color: #666;
    background-color: #EEE;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(to bottom, #ffffff, #dcdcdc); }
  /* line 53, ../scss/partials/_buttons.scss */
  .button:active, .button.is-active, .button.active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 59, ../scss/partials/_buttons.scss */
  .button:focus {
    outline: none; }

/* line 65, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 72, ../scss/partials/_buttons.scss */
.button-block {
  display: block; }

/* line 77, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

/* line 94, ../scss/partials/_buttons.scss */
.button-wrap {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 104, ../scss/partials/_buttons.scss */
.button-flat {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #EEE;
  border: none;
  text-shadow: none; }
  /* line 113, ../scss/partials/_buttons.scss */
  .button-flat:hover, .button-flat:focus {
    background: #fbfbfb; }
  /* line 116, ../scss/partials/_buttons.scss */
  .button-flat:active, .button-flat.is-active, .button-flat.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 121, ../scss/partials/_buttons.scss */
  .button-flat.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 131, ../scss/partials/_buttons.scss */
.button-border {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666;
  border: 2px solid #666;
  background: none;
  text-shadow: none; }
  /* line 140, ../scss/partials/_buttons.scss */
  .button-border:hover, .button-border:focus {
    background: none;
    color: gray;
    border: 2px solid gray; }
  /* line 145, ../scss/partials/_buttons.scss */
  .button-border:active, .button-border.is-active, .button-border.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #4d4d4d;
    border: 2px solid #4d4d4d; }
  /* line 151, ../scss/partials/_buttons.scss */
  .button-border.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 201, ../scss/partials/_buttons.scss */
.button-rounded {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* line 235, ../scss/partials/_buttons.scss */
.button-primary {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -moz-linear-gradient(top, #00b5e5, #008db2);
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(to bottom, #00b5e5, #008db2);
  background-color: #00A1CB;
  border-color: #007998;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-primary:hover, .button-primary:focus {
    background-color: #00A1CB;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzlmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
    background: -moz-linear-gradient(top, #00c9fe, #008db2);
    background: -webkit-linear-gradient(top, #00c9fe, #008db2);
    background: linear-gradient(to bottom, #00c9fe, #008db2); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-primary:active, .button-primary.is-active, .button-primary.active {
    background: #1495b7;
    color: #005065; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00A1CB;
  color: #FFFFFF;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-primary:hover, .button-flat-primary:focus {
    color: #FFFFFF;
    background: #00b5e5; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-primary:active, .button-flat-primary.is-active, .button-flat-primary.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #1495b7;
    color: #00647f; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-primary.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-action {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmY2YwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiOWMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(to bottom, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-action:hover, .button-action:focus {
    background-color: #7db500;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZTgwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiOWMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
    background: -moz-linear-gradient(top, #a0e800, #6b9c00);
    background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
    background: linear-gradient(to bottom, #a0e800, #6b9c00); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-action:active, .button-action.is-active, .button-action.active {
    background: #76a312;
    color: #374f00; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-action {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #7db500;
  color: #FFFFFF;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-action:hover, .button-flat-action:focus {
    color: #FFFFFF;
    background: #8fcf00; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-action:active, .button-flat-action.is-active, .button-flat-action.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #76a312;
    color: #486900; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-action.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-highlight {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhOTkxNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4N2UwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(to bottom, #fa9915, #d87e04);
  background-color: #F18D05;
  border-color: #bf7004;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-highlight:hover, .button-highlight:focus {
    background-color: #F18D05;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiYTQyZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4N2UwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
    background: -moz-linear-gradient(top, #fba42e, #d87e04);
    background: -webkit-linear-gradient(top, #fba42e, #d87e04);
    background: linear-gradient(to bottom, #fba42e, #d87e04); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-highlight:active, .button-highlight.is-active, .button-highlight.active {
    background: #d8891e;
    color: #8d5303; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #F18D05;
  color: #FFFFFF;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-highlight:hover, .button-flat-highlight:focus {
    color: #FFFFFF;
    background: #fa9915; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-highlight:active, .button-flat-highlight.is-active, .button-flat-highlight.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #d8891e;
    color: #a66103; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-highlight.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-caution {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NTQzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5MzMxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(to bottom, #e8543f, #d9331a);
  background-color: #E54028;
  border-color: #c22d18;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-caution:hover, .button-caution:focus {
    background-color: #E54028;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNjg1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5MzMxYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
    background: -moz-linear-gradient(top, #eb6855, #d9331a);
    background: -webkit-linear-gradient(top, #eb6855, #d9331a);
    background: linear-gradient(to bottom, #eb6855, #d9331a); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-caution:active, .button-caution.is-active, .button-caution.active {
    background: #cd5240;
    color: #952312; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-caution {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #E54028;
  color: #FFFFFF;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-caution:hover, .button-flat-caution:focus {
    color: #FFFFFF;
    background: #e8543f; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-caution:active, .button-flat-caution.is-active, .button-flat-caution.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd5240;
    color: #ac2815; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-caution.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 235, ../scss/partials/_buttons.scss */
.button-royal {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5Mzg5ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1MmE3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99389f), color-stop(100%, #752a79));
  background: -moz-linear-gradient(top, #99389f, #752a79);
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(to bottom, #99389f, #752a79);
  background-color: #87318C;
  border-color: #632466;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35); }
  /* line 242, ../scss/partials/_buttons.scss */
  .button-royal:hover, .button-royal:focus {
    background-color: #87318C;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiM2ViMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1MmE3OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab3eb2), color-stop(100%, #752a79));
    background: -moz-linear-gradient(top, #ab3eb2, #752a79);
    background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
    background: linear-gradient(to bottom, #ab3eb2, #752a79); }
  /* line 247, ../scss/partials/_buttons.scss */
  .button-royal:active, .button-royal.is-active, .button-royal.active {
    background: #764479;
    color: #3e1740; }

/* line 332, ../scss/partials/_buttons.scss */
.button-flat-royal {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318C;
  color: #FFFFFF;
  text-shadow: none;
  border: none; }
  /* line 341, ../scss/partials/_buttons.scss */
  .button-flat-royal:hover, .button-flat-royal:focus {
    color: #FFFFFF;
    background: #99389f; }
  /* line 345, ../scss/partials/_buttons.scss */
  .button-flat-royal:active, .button-flat-royal.is-active, .button-flat-royal.active {
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background: #764479;
    color: #501d53; }
  /* line 350, ../scss/partials/_buttons.scss */
  .button-flat-royal.disabled {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 363, ../scss/partials/_buttons.scss */
.button-group {
  position: relative;
  display: inline-block; }
  /* line 366, ../scss/partials/_buttons.scss */
  .button-group .button {
    float: left; }
    /* line 368, ../scss/partials/_buttons.scss */
    .button-group .button:focus, .button-group .button:hover, .button-group .button.active {
      z-index: 5; }
    /* line 371, ../scss/partials/_buttons.scss */
    .button-group .button:active, .button-group .button.active {
      background: gainsboro; }
    /* line 375, ../scss/partials/_buttons.scss */
    .button-group .button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    /* line 378, ../scss/partials/_buttons.scss */
    .button-group .button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    /* line 382, ../scss/partials/_buttons.scss */
    .button-group .button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  /* line 388, ../scss/partials/_buttons.scss */
  .button-group .button + .button {
    margin-left: -1px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 22px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 16px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 12px;
  height: 25.6px;
  line-height: 24px;
  padding: 0px 20.48px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px; }

/* line 401, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 10px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 19.2px; }

/* line 432, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px; }

/*End button.css*/
