<head>
  <script type="text/javascript">
    var host = "dinosaurscode.xyz";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>
  <meta name="google-site-verification" content="dZ_vY_6pq6z_3n_vtfZ14Ksuica16LH4zU9h5E4P47I" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ 'Dinosaurscode ' }}{{ page.title }}{% endif %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:400,700|Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
      
  <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
  
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}
 
  {% if site.environment == "production" %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
	      google_ad_client: "ca-pub-4450916225183314",
	          enable_page_level_ads: true
			    });
  </script>
  {% endif %}
</head>
